@model aspDatabase.Models.BookingRequest

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Создать</h1>

<h4>Заявка на бронь</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SecondName" class="control-label"></label>
                <input asp-for="SecondName" class="form-control" />
                <span asp-validation-for="SecondName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThirdName" class="control-label"></label>
                <input asp-for="ThirdName" class="form-control" />
                <span asp-validation-for="ThirdName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberofPhone" class="control-label"></label>
                <input asp-for="NumberofPhone" class="form-control" maxlength="11" pattern="\d{1,11}"/>
                <span asp-validation-for="NumberofPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="passportSeries" class="control-label"></label>
                <input asp-for="passportSeries" class="form-control" maxlength="4" pattern="\d{1,4}" />
                <span asp-validation-for="passportSeries" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nubmerPassport" class="control-label"></label>
                <input asp-for="nubmerPassport" class="form-control" maxlength="6" pattern="\d{1,6}" />
                <span asp-validation-for="nubmerPassport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingDateStart" class="control-label"></label>
                <input asp-for="BookingDateStart" class="form-control" type="date" />
                <span asp-validation-for="BookingDateStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingDateEnd" class="control-label"></label>
                <input asp-for="BookingDateEnd" class="form-control" type="date" />
                <span asp-validation-for="BookingDateEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hotelId" class="control-label"></label>
                <select asp-for="hotelId" class="form-control" asp-items="ViewBag.idHotel" id="hotelSelect"></select>
            </div>
            <div class="form-group">
                <label asp-for="roomID" class="control-label"></label>
                <select asp-for="roomID" class="form-control" id="roomSelect"></select>
                <span asp-validation-for="roomID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@if (User.IsInRole("admin"))
{
    <div>
        <a asp-action="Index">Вернуться к списку</a>
    </div>
}
@if (User.IsInRole("guest"))
{
    <div>
        <a asp-controller="Rooms" asp-action="Index">Перейти к списку комнат</a>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#hotelSelect').change(function () {
                var hotelId = $(this).val();
                if (hotelId) {
                    $.getJSON('@Url.Action("GetRoomsByHotelId", "BookingRequests")', { hotelId: hotelId }, function (rooms) {
                        var $roomSelect = $('#roomSelect');
                        $roomSelect.empty();
                        $.each(rooms, function (index, room) {
                            $roomSelect.append($('<option/>', {
                                value: room.id,
                                text: room.adressRoom
                            }));
                        });
                    });
                } else {
                    $('#roomSelect').empty();
                }
            });
        });
    </script>
}
