@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>Изучить о <a href="https://docs.microsoft.com/aspnet/core">ну там приложение создано с ASP.NET</a>.</p>
</div>
